body {
  background-color: black;
  color: white;
  width: 100%;
}

h1, h2 {
  text-align: center
}

#data, #temp, #condition, #animation {
  text-align: center;
}

#by {
  text-align: center;
  color: white;
  margin-top: 5px;
  font-family: "Arial";
  font-size: 0.8em;
}
